html, body, p {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;
    padding: 25px;
    width: 450px;
    height: 525px;
    background-color: #696969;
    border-radius: 20px;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.display {
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
    background-color: #bdcc79;
    color: #8f9968;
    font-size: 64px;
    width: 100%;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.keypad {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 400px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #7c7c7c;
    box-shadow: 0 0 4px black;
    font-size: 42px;
    padding: 10px;
    transition: ease 0.5s;
    outline: none;
    border: none;
}

.key:hover {
    cursor: pointer;
}

.key:active {
    box-shadow: none;
}

#clear, #divide, #multiply, #delete {
    background-color: #525252;
}

#clear, #delete {
    font-size: 20px;
}

#box0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals {
    background-color: orangered;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}